<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c422626-3752-4204-b306-779db61831f5" Alias="2025-11-15 16:54 - test" Level="2">
  <Info>
    <Parent Key="5bd77a15-461b-4af7-96b6-1baaa1a5458d">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T16:54:32</CreateDate>
    <NodeName Default="2025-11-15 16:54 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>