<?xml version="1.0" encoding="utf-8"?>
<Content Key="30cfbab2-d845-46c9-8d73-238c8b4ea966" Alias="2025-11-15 16:45 - Felicia" Level="2">
  <Info>
    <Parent Key="5bd77a15-461b-4af7-96b6-1baaa1a5458d">Form Submissions</Parent>
    <Path>/FormSubmissions/Felicia</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-15T16:45:01</CreateDate>
    <NodeName Default="2025-11-15 16:45 - Felicia" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[felicia@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Felicia]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>