<?xml version="1.0" encoding="utf-8"?>
<Content Key="59c9047a-86ce-4fb0-993f-33bd40f143d4" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="ef8f54fb-fcfd-4d2a-8ec2-0a044f821898">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T18:04:54</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46e11751-edb5-44f9-83df-c02041409cbe">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "572af2bc-22bd-4464-9994-409e8788c121",
    "mediaKey": "85c53660-08ed-42ea-81ca-c7255a37e3bb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>