<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dc33d81-3d2e-4b9e-8152-7b21c26859b8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e7f17668-528c-4533-b0aa-b58564769052">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-07T21:37:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9bd8a441-7a88-4330-84f6-2a1565553194">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>