<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bd77a15-461b-4af7-96b6-1baaa1a5458d" Alias="Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-15T16:22:51</CreateDate>
    <NodeName Default="Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>