<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7cd88a9-fcd6-4cb2-af2c-a9720138086f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1a14eda3-b267-4757-a25f-a2a36e5570b0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ebe255f8-81af-4b02-b185-5fa23b69f861" SortOrder="0">contactPage</ContentType>
    <ContentType Key="544ff389-8683-4a8c-b1e1-a25de7a0e242" SortOrder="1">servicePage</ContentType>
    <ContentType Key="ce3f9b51-e73e-4e80-83ef-6997bab9a776" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>614de82c-7bc4-4a0d-b1fd-ac584dce821f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>b7c50c76-68d1-4ce3-a6e8-7848a0ab28b1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>78226877-c15c-47de-a210-0d996860fc06</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>