@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="bg-neutral px-4 py-4 max-w-7xl mx-auto">
    <div class="flex justify-center gap-10 pt-50 pb-8">
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
        <img class="object-contain" src="~/images/brand_01.svg" alt="Alternate Text" />
    </div>
</section>
