@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="bg-no-repeat bg-neutral pt-17 pb-[30rem] relative overflow-visible
                [background-image:url('/images/Map.svg')]
                [background-position:top]">
    <div class="max-w-7xl mx-auto p-15 bg-neutral absolute absolute -bottom-35 left-1/2 -translate-x-1/2 z-999 border-gray-300 shadow-md">
        <div class="flex flex-col gap-4 justify-center items-center px-20">

                <h2 class="text-[.875rem] text-secondary font-bold uppercase">Request a callback</h2>
                <h3 class="text-[2.5rem] text-primary font-bold">Let us know about your next project</h3>
                <p class="text-bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
        </div>
        <div class="flex flex-col gap-2 items-center justify-center mt-5">
            <div class="flex flex-row gap-2 w-full">
                <input placeholder="Name" class="border border-border-gray w-full p-3 italic focus:outline-none rounded-md" />
                <input placeholder="Phone" class="border border-border-gray w-full p-3 italic focus:outline-none rounded-md" />
            </div>
            <div class="flex flex-row gap-2 w-full">
                <input placeholder="Email" class="border border-border-gray w-full p-3 italic focus:outline-none rounded-md" />
                <input placeholder="Please select an option" class="border border-border-gray w-full p-3 italic focus:outline-none rounded-md" />
            </div>
            <button class="bg-primary text-white py-3 px-10 no-underline rounded cursor-pointer font-bold mt-10">Submit</button>
        </div>

    </div>
</section>
