<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7c50c76-68d1-4ce3-a6e8-7848a0ab28b1" Alias="Onatrix- Sections" Level="1">
  <Info>
    <Name>Onatrix- Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efd74c68-c8a4-4431-8868-c993499ee912"
    },
    {
      "contentElementTypeKey": "96b18d53-70d1-4c5f-8f5d-840a66d6c3b1",
      "settingsElementTypeKey": "e9d185ea-c2df-4871-b87a-a0fbc8f04e2f"
    },
    {
      "contentElementTypeKey": "00cd2fa3-4259-465b-a8ea-c65adabe8356"
    },
    {
      "contentElementTypeKey": "7e69cd86-f367-47d7-8d02-10bb20ec0663"
    },
    {
      "contentElementTypeKey": "edd3eff6-2242-4d82-a8e5-b68e222eedc5"
    },
    {
      "contentElementTypeKey": "46df6991-9d5a-4f2a-922e-53b22a80e272"
    },
    {
      "contentElementTypeKey": "e2ded1a3-54fc-4496-b56d-aabe2937ac09"
    },
    {
      "contentElementTypeKey": "6e3e99d6-cf8b-4a18-b749-e8529f0e8cfa"
    },
    {
      "contentElementTypeKey": "c2ae01ea-7c88-4285-8e25-b85a8d2f38e0"
    },
    {
      "contentElementTypeKey": "35272c89-c68d-4f33-85a1-55050cc07f71"
    }
  ]
}]]></Config>
</DataType>