<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dea419ef-aa9e-4498-ab7d-a41ffdaddf99" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "37708832-67c7-4081-bf82-1b04e7f19849"
    }
  ]
}]]></Config>
</DataType>