<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29789cd6-5316-415f-a4dc-bb43d7042b49" Alias="Site Settings - Contact Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>Site Settings - Contact Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>