<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8192b562-6dba-41d0-ae40-27ae4bd50548" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b898187b-8cac-453c-bf14-0e36a90efdb7",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>