<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4f9cf5a-29eb-4ffb-a49a-330b8aa85768" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "94e44798-ebe6-46a5-81ef-e954b40b8dd3",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>