<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3f39897-acc7-46d7-b5dd-19ae586b08c0" Alias="Text String" Level="1">
  <Info>
    <Name>Text String</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>