<?xml version="1.0" encoding="utf-8"?>
<DataType Key="018c6d16-89cc-4f2d-bf12-f4b21e2b4250" Alias="Text String (1)" Level="1">
  <Info>
    <Name>Text String (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>