<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c94e19d-c74a-4515-b26e-25e2d959450d" Alias="Trusted by Section - trustedbyrating - Numeric Property Editor UI" Level="1">
  <Info>
    <Name>Trusted by Section - trustedbyrating - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 0
}]]></Config>
</DataType>