<?xml version="1.0" encoding="utf-8"?>
<Media Key="1be48334-0ccf-4fc1-9c81-c1acba2abde6" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="8eb5ec62-fcc3-4128-870b-43d9792c72ec">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T14:27:59</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yy5en4ou/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>