<?xml version="1.0" encoding="utf-8"?>
<Media Key="1258a32f-7f04-4db7-a940-0773ac40ad8b" Alias="Aside-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AsideImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:58:36</CreateDate>
    <NodeName Default="Aside-img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1uppv2a5/aside-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>