<?xml version="1.0" encoding="utf-8"?>
<Media Key="85c53660-08ed-42ea-81ca-c7255a37e3bb" Alias="Assurence-Audits.svg" Level="2">
  <Info>
    <Parent Key="e59933a8-dffa-489f-980b-fa1bec829f6d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssurenceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:02:00</CreateDate>
    <NodeName Default="Assurence-Audits.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/skfhoz5w/assurence-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>