<?xml version="1.0" encoding="utf-8"?>
<Media Key="9371c870-b38e-41ea-9dd0-0c3a64b94b2f" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="8eb5ec62-fcc3-4128-870b-43d9792c72ec">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T14:27:59</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qj0ng2mv/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>