<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ce90636-701d-4847-a87f-53fa77cd95b8" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="8eb5ec62-fcc3-4128-870b-43d9792c72ec">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T14:28:00</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ys3fxxqg/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>