<?xml version="1.0" encoding="utf-8"?>
<Media Key="d054e84c-0d0a-4274-bab1-85e180de635e" Alias="CEO_img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEO_imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:16:06</CreateDate>
    <NodeName Default="CEO_img.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xzkpmmqr/ceo_img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>