<?xml version="1.0" encoding="utf-8"?>
<Media Key="62fb020f-5514-4776-911a-f95061c64223" Alias="kevin-gardner-review.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerReviewsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T22:51:21</CreateDate>
    <NodeName Default="kevin-gardner-review.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5w5ftaap/kevin-gardner-review.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>