<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa822599-9256-4871-884c-0cdda26916da" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="8eb5ec62-fcc3-4128-870b-43d9792c72ec">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T14:27:56</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nomcascn/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>