<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dbb7841-6e4d-409b-9bb6-76659e189ae0" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T15:24:20</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpcbt10w/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>