<?xml version="1.0" encoding="utf-8"?>
<Media Key="67130cd6-deba-4744-8fe6-4ed7da527904" Alias="OnatrixSignatures.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixSignaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T16:39:50</CreateDate>
    <NodeName Default="OnatrixSignatures.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/esyldbnb/onatrixsignatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>