<?xml version="1.0" encoding="utf-8"?>
<Media Key="85661aaf-0c68-493d-b194-350fe63a26bd" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="e59933a8-dffa-489f-980b-fa1bec829f6d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:02:10</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwtniz1t/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>