<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fe39318-1d6a-4cfe-a036-40da68f03d39" Alias="Risk-management_detail_1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement_detail_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T18:54:57</CreateDate>
    <NodeName Default="Risk-management_detail_1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ixed5lr/risk-management_detail_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>