<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c4f42ec-339d-4fba-8f34-b519c4fa64a9" Alias="Risk-management_detail_2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement_detail_2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T18:55:01</CreateDate>
    <NodeName Default="Risk-management_detail_2.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d15p1pug/risk-management_detail_2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>