<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb704b5c-0e4b-4054-91aa-71b40bc89472" Alias="SuccessStory-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T20:18:38</CreateDate>
    <NodeName Default="SuccessStory-img.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v11negkq/successstory-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>