<?xml version="1.0" encoding="utf-8"?>
<Media Key="636c3d67-093f-4006-93e4-339bec05d9ce" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="e59933a8-dffa-489f-980b-fa1bec829f6d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:02:16</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/swam3aje/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>